[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_26002D0008504E5238363120-if00 

[virtual_sdcard]
path: /home/chris/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000
